extends ../layouts/default

		
block content

	div.pages
		div.page(data-page="home")
			div.page-content.infinite-scroll 
				div.content-block-title My debts
				div.list-block
					ul#dataList

		div.page.cached(data-page="detail", data-nav="back")
			div.page-content.infinite-scroll 
				div.content-block-title Debts detail
				div.list-block.media-list
					ul#dataListDetail

		div.page.cached(data-page="form", data-nav="cancel")
			div.page-content.infinite-scroll 
				div.content-block-title Create new debt
				div.list-block
					ul
						li.item-content
							div.item-inner
								div.item-title.label Name
								div.item-input
									input#otherUserName(type="text", placeholder="Name")
				div.content-block
					div.row
						div.col-100
							a.button.button-fill.color-red.button-big(onclick="sgd.changeSection('form-second')") Enter
				div.content-block-label 
					p.or or
				div.content-block
					div.row
						div.col-100
							a.button.button-fill.button-big.open-popup(href="#friendList") Select other wooishui user

		div.page.cached#formSecond(data-page="form-second", data-nav="cancel")
			div.page-content.infinite-scroll 
				form#debtForm(action="post")
					div.content-block
						div.buttons-row
							a.debtTypeBtn.button.button-big.button-fill.color-gray.active(data-role='subject', data-value='otherUser') HE / SHE
							a.debtTypeBtn.button.button-big.button-fill.color-gray(data-role='subject', data-value='currentUser') I
						div.buttons-row(style="margin-top:-1px;position:relative;")
							a.debtTypeBtn.button.button-big.button-fill.color-gray.active(data-role='verb', data-value='own') OWN
							a.debtTypeBtn.button.button-big.button-fill.color-gray(data-role='verb', data-value='returned') RETURNED
						div.buttons-row(style="margin-top:-1px;position:relative;")
							a.debtTypeBtn.button.button-big.button-fill.color-gray(data-role='object', data-value='otherUser') HIM / HER
							a.debtTypeBtn.button.button-big.button-fill.color-gray.active(data-role='object', data-value='currentUser') ME
					div.list-block
						ul
							li.item-content
								div.item-inner
									div.item-title.label AMOUNT
									div.item-input
										input(type="number", placeholder="AMOUNT", name="price")
							li.item-content.align-top
								div.item-inner
									div.item-title.label DESCRIPTION
									div.item-input
										input(type="text", placeholder="DESCRIPTION", name="desc")
					input#otherUserID(type="hidden")
					div.content-block
						div.row
							div.col-100
								a.button.button-fill.button-big.color-red(href="#", onclick="sgd.submitDebt()") CONFIRM
			
block panel

	//- div#inviteFriend.popup.page.navbar-fixed
	//- 	div.navbar
	//- 		div.navbar-inner
	//- 			div.left
	//- 			div.center Invite Friend
	//- 			div.right 
	//- 				a.headerBtn.black.icon-remove.close-popup(href="#")
		
	//- 	div.page-content
	//- 		div.infinite-scroll
	//- 			div.content-block
	//- 				input.friendListSearch(type="text", placeholder="search", data-target="#nonRegFriend")
	//- 			div#nonRegFriendWrapper
	//- 				div.content-block-title FACEBOOK FRIEND LIST
	//- 				div.list-block
	//- 					ul#nonRegFriend

	div#friendList.popup.page.navbar-fixed
		div.navbar
			div.navbar-inner
				div.left
				div.center Friend list
				div.right 
					a.headerBtn.black.icon-remove.close-popup(href="#")
		
		div.page-content.infinite-scroll
			div.content-block
				input.friendListSearch(type="text", placeholder="search", data-target="#regFriend")
			div#regFriendWrapper
				div.content-block-title WOOISHUI USER
				div.list-block
					ul#regFriend

	script#regFriendList(type="text/template").
		<li class="item-content" data-userid='<%=id%>' class="close-popup">
			<div class="item-media" style='background-image:url(http://graph.facebook.com/<%=id%>/picture)'></div>
			<div class="item-inner">
				<div class="item-title"><%=name%></div>
			</div>
		</li>
	script#mainListTmpl(type="text/template").
		<li class="item-content">
			<% if(id.indexOf('-') < 0){ %>
				<div class="item-media" style="background-image:url(http://graph.facebook.com/<%=id%>/picture)"></div>
			<% } %>
			<div class="item-inner">
				<div class="item-title"><%=name%></div>
				<div class="item-label <%=(price > 0) ? 'color-green' : 'color-red'%>">$<%=price%></div>
			</div>
			<input type="hidden" class="cid" value="<%=id%>"></input>
		</li>
	script#detailTmpl(type="text/template").
		<li class="swipeout" id="item_<%=_id%>">
			<div class="item-link swipeout-content item-content">
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title"><%=moment(createdAt).format("YYYY-MM-DD HH:mm")%></div>
						<div class="item-after <%=(price > 0) ? 'color-green' : 'color-red'%>">$<%=price%></div>
					</div>
					<div class="item-subtitle">Debt owner: <%= creatorName %></div>
					<div class="item-text"><%= (typeof(desc) == 'undefined') ? 'NO DESCRIPTION' : desc %></div>
				</div>
			</div>
			<% if(settlable){ %>
				<div class="swipeout-actions-right">
					<a href="#" data-itemid="<%=_id%>" class="settleBtn bg-red">SETTLE</a>
				</div>
			<% } %>
		</li>